@media (max-width: 768px) {
    .dot {
        display: none !important;
    }
}

@media (max-width: 1394px) {
    .hero-image-container {
        width: 60%;  
    }
}

@media (max-width: 1162px) {
    .hero-image-container {
        width: 90%;  
    }
}

@media (max-width: 500px) {
    .hero-image-container {
        width: 90%;  
    }
}
 