 
 
.navbar {
    position: fixed;  
    top: 0;  
    width: 100%;  
    color: #363636; 
    z-index: 999; 
    height: 80px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
#contact{
    background-color:#c6c5c3; 
    color: #363636;
}
.works-section {
    background-color:#c6c5c3; 
    color: #363636; 
}
.hero-section{
    background-color: #c6c5c3; 
    color:#363636;
}
.resume-page{
    background-color: #f9f9f9;
}

.about-section {
    background-color: #c6c5c3; 
    color: #363636;  
    font-family: 'Roboto', sans-serif;
}
   
.about-image img {
    max-width: 100%;
    max-height: 150px;
    height: auto;
}
 
.dot {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    display: block;  
    margin: 0 auto; 
    margin-top: 4px; 
}
.active-dot {
    background-color: black;  
}


.image-container {
    max-width: 1800px;
    transition: transform 0.6s;  
}

.image-container:hover {
    transform: scale(1.1);  
}

.contact-btn {
    background-color: black; 
    color: #363636; 
    transition: background-color 0.3s ease;  
}

.contact-btn:hover {
    background-color: #555555;  
}
 
 @media (max-width: 768px) {
    .dot {
        display: none !important;
    }
}

.custom-button {
    background-color: transparent; 
    color: #000; 
    border: 2px solid #000;  
    padding: 12px 24px;  
    font-size: 18px;  
    border-radius: 8px; 
    cursor: pointer;
}

.custom-button:hover {
    background-color: transparent;  
    border-color: #0e5cb8;  
    color: #0e5cb8; 
}


 
.resume-page {
    padding: 20px;
    text-align: center;
  }
  
  .resume-container {
    max-width: 100%;
  }
  
  .download-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;  
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
  }
 
  @media (max-width: 768px) {
    .resume-container {
      max-width: 90%;
    }
  
    .download-link a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    .download-link a {
      font-size: 14px;
    }
  }
  