.project-card {
    width: 100%;
    max-width: 500px; 
    border: 1px solid #ddd;
    margin: 10px;
    margin-left: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);  
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
    background-color: #f9f9f9;
}

.project-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.project-description {
    font-size: 0.9em;
    margin-top: 5px;
}

.project-technologies {
    margin: 10px 0;
    font-size: 0.85em;
}

.project-technologies span {
    display: inline-block;
    background-color: #e4e4e4;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.project-links a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.project-links a:hover {
    text-decoration: underline;
}


.my-container {
    
    min-height: 350px;  
    padding-bottom: 20px; 
    width: max-content;
}

 
@media (min-width: 768px) {
    .project-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}



 